@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,,500,700&display=swap');

.home {
    background-image: url("./house.jpg");
    padding: 45vh 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.motto {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
}

.motto h1{
    font-size: 50px;
}

.motto span{
    font-size: 30px;
}