@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,,500,700&display=swap");

/* Global Settings */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* Error Page CSS */
.errorPage {
  height: 100vh;
  padding-top: 200px;
  background-color: whitesmoke;
  text-align: center;
}

.errorPage h1 {
  font-size: 90px;
  font-weight: 300;
  color: rgb(61, 61, 61);
}

.errorPage p {
  font-size: 20px;
  font-weight: 300;
}

.errorNavLink {
  color: rgb(40, 78, 160);
  text-decoration: none;
  line-height: 50px;
  border-bottom: 2px solid whitesmoke;
  transition: border-bottom 300ms;
}

.errorNavLink:hover {
  border-bottom: 2px solid rgb(40, 78, 160);
  transition: border-bottom 300ms;
}

/* Navbar CSS */
.navbar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 5em;
  z-index: 100;
}

.navbar a {
  display: inline-block;
  color: whitesmoke;
  text-decoration: none;
}

.navbar h1 {
  padding-left: 0.5em;
}

.navbar h1 a {
  font-weight: 400;
}

.navbar ul {
  margin-right: 0.5em;
  float: right;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 1.25em;
  font-weight: 400;
}

.navbar li {
  margin: 0 1em;
}

.navbar a:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: whitesmoke;
  transition: 500ms;
}

.navbar a:hover:after {
  width: 100%;
}

@media (max-width: 670px) {
  .navbar {
    grid-template-columns: 5fr 1fr;
  }
  .navbar ul {
    margin-right: 0.5em;
    float: none;
    display: flex;
    flex-direction: column;
  }
}

/* Mobile Navbar CSS */
.mobileNav {
  position: fixed;
  top: 80px;
  width: 100%;
  border-top: solid 1px rgb(170, 170, 170);
  left: -100%;
  transition: transform 500ms ease-in;
  background-color: whitesmoke;
  z-index: -4 !important;
}

.mobileNav ul {
  text-align: center;
  margin:0;
  padding: 0;
}

.mobileNav li {
  margin: 0;
  padding:1em 0 1em 0;
  width: 100%;
  font-weight: 700;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.mobileNav a {
  color:black;
}

.mobileNav a:hover {
  color:rgb(80, 80, 80);
  text-decoration: underline;
}

.mobileNav.active{
  transform: translateX(100%);
}

/* Nav Hamburger CSS 
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.5;
}
.hamburger.is-active:hover {
  opacity: 0.5;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 670px) {
  .hamburger {
    display: none;
  }
}

/* Home CSS */
.home {
  padding: 45vh 50px;;
  background-size: cover;
  background-position: center;
  height: 100vh;
  transition: background-image 2s ease-in;
}

.motto {
  text-align: center;
  color: white;
}

.motto h1 {
  font-size: 50px;
}

.motto span {
  font-size: 30px;
}

/* About CSS */
.about {
  padding: 60px 0 110px 0;
  margin: auto;
  background-color: whitesmoke;
}

.about hr {
  margin: 30px auto;
  width: 350px;
  border: 1px solid rgb(226, 226, 226);
}

.aboutQuote {
  text-align: center;
  color: rgb(66, 66, 66);
}

.aboutQuote h2 {
  font-weight: 400;
}

.aboutQuote p {
  font-weight: 400;
}

.about strong {
  font-weight: 500;
}

.aboutText {
  margin: auto;
  padding-top: 2em;
  width: 80vw;
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(43, 43, 43);
}

@media (min-width: 1000px) {
  .aboutText {
    width: 900px;
  }
}

/* Portfolio CSS */

.portfolio {
  background-color: whitesmoke;
}

.propertyTile {
  width: 100%;
  transition: 200ms;
}

.propertyTile img {
  cursor: pointer;
  width: 100%;
}

.propertyTile h2 {
  padding: 15px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  color:rgb(32, 32, 32);
}

.propertyTile span{
  font-size: 16px;
  font-weight: 300;
}


.propertyTile p {
  padding: 0 10px 30px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: rgb(80, 80, 80);
}

.propertyTile:hover {
  filter: brightness(0.7);
  transition: filter 200ms;
}

.propertyTile:hover 
.listingName{
  text-decoration: underline;
}

@media (min-width: 900px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  .propertyTile {
    width: 48%;
    margin: 1%;
  }
  .propertyTile p {
    padding-bottom: 15px; 
  }
}

/* Contact CSS */
.contactSection {
  background-color: whitesmoke;
  padding: 100px 0 130px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0 30px;
  background-color: rgb(26, 28, 32);
}

.anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

.contactText {
  margin: auto;
  padding-bottom: 40px;
  width: 75vw;
}

.contact h1 {
  color: rgb(219, 219, 219);
  padding: 0;
  font-weight: 400;
}

.contact hr {
  margin: 10px 0 20px 0;
  width: 300px;
  border: 1px solid rgb(184, 184, 184);
}

.contact p {
  font-size: 20px;
  font-weight: 300;
  color: rgb(219, 219, 219);
}

.address {
  font-weight: 500 !important;
}

.contactform {
  margin: auto;
  display: block;
}

label {
  color: white;
  float: left;
  font-weight: 300;
}

input {
  color: white;
  background-color: rgb(43, 46, 51);
  margin: 3px 0 15px 0;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid rgb(43, 46, 51);
  width: 75vw;
  height: 40px;
  transition: border 500ms;
}

textarea {
  height: 250px;
  resize: none;
  width: 75vw;
  background-color: rgb(43, 46, 51);
  color: white;
  margin: 3px 0 10px 0;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid rgb(43, 46, 51);
  transition: border 500ms;
}

input:hover {
  border-bottom: 2px solid white;
  transition: border 500ms;
}

textarea:hover {
  border-bottom: 2px solid white;
  transition: border 500ms;
}

.submitButton {
  width: 100px;
  height: 40px;
  margin: 10px auto;
  display: block;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: rgb(43, 46, 51);
  color: rgb(221, 221, 221);
  border: 2px solid rgb(43, 46, 51);
}

.submitButton:hover {
  border: 2px solid white;
  transition: border 500ms;
}

@media (min-width: 700px) {
  .contact {
    width: 650px;
    margin: auto;
  }

  .contactText {
    width: 600px;
  }

  input {
    width: 600px;
  }

  textarea {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .contact {
    margin: auto;
    width: 950px;
    flex-direction: row;
    padding: 20px 30px;
  }

  .contactForm {
    justify-self: center;
  }

  .contactText {
    margin: 0 20px 0 0;
  }

  .contactform {
    width: 500px;
  }

  input {
    width: 500px;
  }

  textarea {
    width: 500px;
  }
}

/* Connect CSS*/
.connect {
  padding: 25px 0;
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: rgb(43, 43, 43);
  color: white;
  font-size: 1.25em;
}

.connect h3 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}

.connect ul {
  padding: 0;
}

.connect li {
  display: inline;
  list-style: none;
}

.icon {
  margin: 0 10px;
  width: 50px;
  height: 50px;
}

.icon:hover {
  opacity: 0.6;
}

/* Footer CSS */
.footer {
  width: 100%;
  height: 5em;
  background-color: rgb(29, 29, 29);
}

.footer ul {
  display: flex;
  padding: 0;
  list-style: none;
  color: white;
  justify-content: space-evenly;
}

.footer a,
.footer p {
  color: white;
  text-decoration: none;
  line-height: 80px;
}

/* Property Page Navbar */
.propertyPageNav {
  position: fixed;
  display: grid;
  align-content: center;
  width: 100%;
  height: 5em;
  z-index: 100;
  background-color: rgb(35,35,35);
  box-shadow: 0 0 5px 0;
}

.propertyPageNav img:hover {
  opacity: .6;
}

.image-gallery { 
  padding-top: 5em;
}